.App {
  display: flex;
  text-align: center;
  width: 400px;
  height: 250px;
  background-color: rgb(60, 62, 160);
  border-radius: 15px;
  box-shadow: 1px 1px 0.8em rgb(51, 51, 51);
  padding: 30px;
}

.questionCount {
  color: white;
}
.questionCount span {
  font-size: 24px;
}
.questionText {
  margin-top: 20px;
  color: white;
  text-align: start;
}

.answerSelection {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}
.answerSelection button {
  text-align: start;
  margin: 5px auto;
  width: 150px;
  padding: 10px;
  background-color: unset;
  color: white;
  border: 2px solid rgb(150, 214, 216);
  border-radius: 15px;
}

.scoreEnd {
  display: flex;
  flex-direction: column;
}

.scoreection {
  font-size: 24px;
  color: white;
  margin: 50px 0 20px 50px;
}

.resetButton button {
  text-align: center;
  margin-left: 55px;
  width: 150px;
  padding: 10px;
  background-color: unset;
  color: white;
  border: 2px solid rgb(150, 214, 216);
  border-radius: 15px;
}
